.navbar-brand img {
    width: 100px; /* 원하는 너비로 조정 */
    height: auto; /* 비율을 유지하도록 설정 */
}
.nav-item {
    margin-right: 15px; /* 항목 간의 간격을 설정 */
}

.navbar {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 999; /* z-index를 높게 설정하여 다른 요소들보다 위에 배치 */
}
