/* 페이지 스타일 */
.page-content {
    margin-top: 20px; /* 콘텐츠 상단 여백 */
}

/* 테이블 스타일 */
.table-c {
    width: 100%; /* 테이블 전체 너비 사용 */
    table-layout: fixed; /* 테이블 헤더의 크기를 고정 */
    border-collapse: collapse; /* 테두리 중복 제거 */
    margin-bottom: 50px; /* 테이블 하단 여백 추가 */
}

.table-c th, .table-c td {
    white-space: normal; /* 셀 내용 줄 바꿈 허용 */
    padding: 4px 8px; /* 셀 내부 간격을 줄임 */
    text-align: center; /* 텍스트 가운데 정렬 */
    border: 1px solid #ddd; /* 셀 테두리 */
    font-size: 12px; /* 글씨 크기 줄이기 */
    word-wrap: break-word; /* 긴 텍스트 자동 줄 바꿈 */
}

/* 생성일 칸 크기 넓히기 */
.table-c th:nth-child(10), .table-c td:nth-child(10) {
    width: 150px; /* 생성일 칸 너비 설정 */
}

/* 테이블 내부 이미지 크기 조정 */
.table-c td img {
    height: 50px; /* 이미지 높이 고정 */
    width: 50px;  /* 이미지 너비 고정 */
    object-fit: cover; /* 이미지를 영역에 맞게 비율 유지하며 채움 */
}

.table img {
    width: 50px; /* 이미지의 너비를 고정 */
    height: 50px; /* 이미지의 높이를 고정 */
    object-fit: cover; /* 이미지가 넘치지 않도록 고정된 영역 안에 꽉 채움 */
}

/* 수정, 삭제 버튼 크기 조정 */
.btn-secondary, .btn-danger {
    padding: 4px 8px; /* 버튼 내부 간격을 줄임 */
    font-size: 12px;  /* 글씨 크기를 작게 설정 */
    width: auto;  /* 버튼의 너비를 내용에 맞게 설정 */
    height: auto; /* 버튼 높이를 내용에 맞게 조정 */
}

/* 바로가기 버튼 스타일 */
.btn-small {
    padding: 4px 8px; /* 버튼 내부 여백을 줄임 */
    font-size: 12px;  /* 글씨 크기를 작게 설정 */
    width: auto;  /* 버튼의 너비를 내용에 맞게 설정 */
    height: auto; /* 버튼 높이를 내용에 맞게 조정 */
}
