.ad-banner {
    width: 1331px; /* 부모 요소의 너비 고정 */
    height: 553px; /* 부모 요소의 높이 고정 */
    object-fit: cover; /* 이미지가 부모 요소 크기에 맞게 잘리더라도 꽉 차게 표시 */
    display: block; /* 이미지를 블록 요소로 처리 */
    border-radius: 8px; /* 이미지 모서리 둥글게 처리 (선택사항) */
}

.ad-banner img {
    width: 100%;  /* 부모 요소의 너비에 맞게 설정 */
    height: 100%; /* 부모 요소의 높이에 맞게 설정 */
    object-fit: cover; /* 이미지가 비율을 유지하면서도 부모 요소 크기에 꽉 차게 함 */
}

.prev-ad-button, .next-ad-button {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    border: none;
    font-size: 24px;
    cursor: pointer;
    padding: 10px;
    z-index: 1;
    opacity: 0.7; /* 살짝 투명하게 */
}

.prev-ad-button:hover, .next-ad-button:hover {
    opacity: 1; /* 호버 시 투명도 증가 */
}

.prev-ad-button {
    left: 150px; /* 광고 이미지의 왼쪽 끝에 고정 */
}

.next-ad-button {
    right: 150px; /* 광고 이미지의 오른쪽 끝에 고정 */
}